In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from feature_engine.encoding import MeanEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
import opendatasets as od
od.download("https://www.kaggle.com/datasets/nehalbirla/vehicle-dataset-from-cardekho/data")

Downloading vehicle-dataset-from-cardekho.zip to .\vehicle-dataset-from-cardekho

100%|██████████| 292k/292k [00:00<00:00, 872kB/s]

In [4]:
df = pd.read_csv('vehicle-dataset-from-cardekho\\car data.csv')
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [9]:
X=df.loc[0:,df.columns!='Selling_Price']
y=df['Selling_Price']

In [10]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [28]:
enc =MeanEncoder(unseen='encode')
enc.fit(X_train,y_train)
X_train=enc.transform(X_train)
X_test=enc.transform(X_test)

In [29]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 240 entries, 184 to 102
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       240 non-null    float64
 1   Year           240 non-null    int64
 2   Present_Price  240 non-null    float64
 3   Kms_Driven     240 non-null    int64
 4   Fuel_Type      240 non-null    float64
 5   Seller_Type    240 non-null    float64
 6   Transmission   240 non-null    float64
 7   Owner          240 non-null    int64
dtypes: float64(5), int64(3)
memory usage: 16.9 KB

In [30]:
regr=LinearRegression()
regr.fit(X_train,y_train)
regr.score(X_train,y_train)

0.9019302879196839

In [31]:
regr.score(X_test,y_test)

0.829632931303002